<div *ngIf="movie$ | async as movies; else loading">
  <nz-layout>
    <nz-content nz-row>
      <ng-container *ngFor="let movie of movies">
        <div nz-col style="width: 300px">
          <a routerLink="/movie/{{ movie.id }}">
            <div class="movie">
              <div class="movie-conten">
                <img
                  class="movie-img"
                  nzDisablePreview="true"
                  nz-image
                  width="200px"
                  height="200px"
                  nzSrc="{{ movie.thumnail }}"
                  alt=""
                />
                <nz-rate class="movie-rating" [ngModel]="5" nzDisabled />
              </div>
              <div class="movie-des">
                <h3>{{ movie.name }}</h3>
                <h6>{{ movie.yearReleaseAt }}</h6>
              </div>
            </div>
          </a>
        </div>
      </ng-container>
    </nz-content>
    <nz-footer>
      <ng-container *ngIf="total$ > 0; else noMovie">
        <nz-pagination
          nzShowSizeChanger
          nzShowQuickJumper
          [nzPageIndex]="pageIndex$"
          [nzTotal]="total$"
          [nzPageSize]="pageSize$"
          [nzShowTotal]="totalTemplate"
        ></nz-pagination>
      </ng-container>
    </nz-footer>
  </nz-layout>
</div>
<ng-template #totalTemplate let-range="range" let-total>
  {{ range[0] }}-{{ range[1] }} of {{ total }} items</ng-template
>
<ng-template #loading><nz-spin nzSimple></nz-spin></ng-template>
<ng-template #noMovie>empty</ng-template>
