<p>movie-info-list works!</p>
<div *ngIf="listOfData$ | async; let listOfData">
  <app-table [listOfData$]="listOfData" [columnData$]="columnData$" />
  <!-- <nz-table
      #editRowTable
      nzShowPagination="false"
      nzShowSizeChanger="false"
      nzBordered
      [nzData]="listOfData"
      nzTableLayout="fixed"
    >
      <thead>
        <tr>
          <th nzWidth="25%">Name</th>
          <th nzWidth="15%">Age</th>
          <th nzWidth="40%">Address</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of editRowTable.data">
          <ng-container *ngIf="!editCache[data.id].edit; else editTemplate">
            <td>{{ data.movieName }}</td>
            <td>{{ data.movieSubName }}</td>
            <td>{{ data.durationMin }}</td>
            <td><a (click)="startEdit(data.id)">Edit</a></td>
          </ng-container>
          <ng-template #editTemplate>
            <td>
              <input
                type="text"
                nz-input
                [(ngModel)]="editCache[data.id].data.movieName"
              />
            </td>
            <td>
              <input
                type="text"
                nz-input
                [(ngModel)]="editCache[data.id].data.movieSubName"
              />
            </td>
            <td>
              <input
                type="text"
                nz-input
                [(ngModel)]="editCache[data.id].data.durationMin"
              />
            </td>
            
          </ng-template>
        </tr>
      </tbody>
    </nz-table> -->
  <app-pagination [pagination]="pagination" />
</div>
