<nz-table #basicTable [nzData]="listOfData$">
  <thead>
    <tr>
      <ng-container *ngFor="let column of columnData$">
        <th [style]="column.style">{{ column.lable }}</th>
      </ng-container>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <ng-container *ngFor="let column of columnData$">
        <td>
          {{ data[column.lable] }}
        </td>
        <!-- <td [ngSwitch]="column.isImage">
          <ng-container
            *ngSwitchCase="true"
            [ngTemplateOutlet]="imageRow"
            [ngTemplateOutletContext]="{ $implicit: data[column.lable] }"
          />
          <ng-container
            *ngSwitchDefault
            [ngTemplateOutlet]="defaultRow"
            [ngTemplateOutletContext]="{ $implicit: data[column.lable] }"
          />
        </td> -->
      </ng-container>
    </tr>
  </tbody>
</nz-table>
<ng-template #defaultRow let-dataitem="dataitem">
  {{ dataitem }}
</ng-template>
<ng-template #imageRow let-dataitem="dataitem"></ng-template>
