<nz-card *ngIf="roomInfo$ != null">
  <nz-descriptions
    nzTitle="Room Info"
    [nzExtra]="extraTpl"
    nzBordered
    [nzColumn]="24"
  >
    <nz-descriptions-item nzTitle="Room Name" [nzSpan]="6">
      {{ roomInfo$["roomName"] }}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="RegistTime" [nzSpan]="6">
      {{ roomInfo$["registTime"] }}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="UpdateTime" [nzSpan]="6">
      {{ roomInfo$["updateTime"] }}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="UpdateUser" [nzSpan]="6">
      {{ roomInfo$["updateUser"] }}
    </nz-descriptions-item>
  </nz-descriptions>
  <nz-descriptions nzBordered nzLayout="vertical">
    <nz-descriptions-item nzTitle="Room Seats">
      <div
        nz-row
        *ngFor="let roomSeat of roomInfo$['roomSeats'] | keyvalue"
        nzJustify="center"
        [nzGutter]="[2, 2]"
      >
        <ng-container
          *ngFor="
            let data of $any(roomSeat.value);
            first as isFirst;
            index as i
          "
        >
          <room-seat-master
            [style]="{ 'max-width': 'none' }"
            nz-col
            [nzSpan]="data['seatMaster']['seatSize']"
            [form]="
              getRoomSeatStatus(
                data['seatMaster']['seatRow']!,
                data['seatMaster']['seatColume']!
              )!
            "
            [seatColunm]="data['seatMaster']['seatColume']!"
            [seatRow]="data['seatMaster']['seatRow']!"
            [isDisplayOption]="false"
            [stylesObj]="{ 'min-width': '80px' }"
          >
          </room-seat-master>
        </ng-container>
      </div>
    </nz-descriptions-item>
  </nz-descriptions>
</nz-card>
<app-showtime-of-room #showtimeOfRoomComp></app-showtime-of-room>
<app-seat-in-room #seatInRoomComp></app-seat-in-room>

<ng-template #extraTpl>
  <nz-space>
    <button
      *nzSpaceItem
      nz-button
      nzType="primary"
      (click)="showModalShowTime()"
    >
      Add ShowTime
    </button>
    <button
      *nzSpaceItem
      nz-button
      nzType="primary"
      (click)="showModalRoomSeat()"
    >
      Setting seat
    </button>
  </nz-space>
</ng-template>
<nz-modal
  [(nzVisible)]="isVisibleShowTime"
  nzTitle="Modal"
  nzOkText="Ok"
  nzCancelText="Cancel"
  (nzOnOk)="handleOkShowTime()"
  (nzOnCancel)="handleCancelShowTime()"
  nzWidth="1200"
>
  <ng-container *nzModalContent>
    <nz-spin [nzSpinning]="isSpinningShowTime">
      <form [formGroup]="showTimeForm">
        <nz-form-item>
          <nz-form-label [nzSpan]="6" nzFor="movieId">Movie Name</nz-form-label>
          <nz-form-control [nzSpan]="14">
            <nz-select
              formControlName="movieId"
              nzShowSearch
              nzAllowClear
              [nzServerSearch]="true"
              (nzOnSearch)="handleSearch($event)"
            >
            <ng-container *ngIf="!optionLoading; else loadOption">
              <ng-container *ngFor="let option of optionList">
                <nz-option
                  nzLabel="{{ option.name }}"
                  nzValue="{{ option.id }}"
                ></nz-option>
              </ng-container>
            </ng-container>
            </nz-select>
            <ng-template #loadOption>
              <nz-skeleton></nz-skeleton> 
            </ng-template>
            <!-- <input
              nz-input
              formControlName="movieId"
              type="text"
              id="movieId"
            /> -->
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="startTime"
            >Start Time</nz-form-label
          >
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-date-picker
              [nzFormat]="dateFormat"
              formControlName="startTime"
              id="startTime"
              nzShowTime="true"
              [nzDateRender]="tplRender"
            ></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="endTime"
            >End Time</nz-form-label
          >
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-date-picker
              [nzFormat]="dateFormat"
              formControlName="endTime"
              id="endTime"
              nzShowTime="true"
              [nzDateRender]="tplRender"
            ></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </form>
    </nz-spin>
  </ng-container>
</nz-modal>
<nz-modal
  [(nzVisible)]="isVisibleRoomSeat"
  nzTitle="Modal"
  nzOkText="Ok"
  nzCancelText="Cancel"
  (nzOnOk)="handleOkRoomSeat()"
  (nzOnCancel)="handleCancelRoomSeat()"
  nzWidth="1200"
>
  <ng-container *nzModalContent>
    <nz-spin [nzSpinning]="isSpinningRoomSeat">
      <form [formGroup]="roomSeatForm">
        <div nz-row [nzGutter]="[16, 24]">
          <ng-container
            *ngFor="
              let seat of roomSeatForm.controls.seatMaster.controls;
              let i = index
            "
            [formGroup]="seat"
          >
            <div nz-col class="gutter-row" [nzSpan]="1 + getSeatSize(i)!">
              <room-seat-master
                [form]="seat"
                [seatColunm]="getSeatColumn(i)!"
                [seatRow]="getSeatRow(i)!"
                [isDisplayOption]="true"
                [stylesObj]="{ height: '100px' }"
                [seatGradleList$]="seatGradleList$"
              />
            </div>
          </ng-container>
        </div>
      </form>
    </nz-spin>
  </ng-container>
</nz-modal>
<ng-template #tplRender let-current>
  <div class="ant-picker-cell-inner" [class.border]="current.getDate() === 1">
    {{ current.getDate() }}
  </div>
</ng-template>
