<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.movieplus.domain.db.read.RUserInfoMapper">
<resultMap id="ResultMap" type="java.util.LinkedHashMap">
	<id column="id" jdbcType="VARCHAR" javaType="java.lang.String" property="id" />
	<result column="username" jdbcType="VARCHAR" javaType="java.lang.String" property="username" />
	<result column="f_name" jdbcType="VARCHAR" javaType="java.lang.String" property="fName" />
	<result column="l_name" jdbcType="VARCHAR" javaType="java.lang.String" property="lName" />
	<result column="email" jdbcType="VARCHAR" javaType="java.lang.String" property="email" />
	<result column="password" jdbcType="VARCHAR" javaType="java.lang.String" property="password" />
	<result column="image_url" jdbcType="VARCHAR" javaType="java.lang.String" property="imageUrl" />
	<result column="email_valid_flag" jdbcType="INTEGER" javaType="java.lang.Byte" property="emailValidFlag" />
	<result column="regist_time" jdbcType="TIMESTAMP" javaType="java.lang.String" property="registTime" />
	<result column="update_time" jdbcType="TIMESTAMP" javaType="java.lang.String" property="updateTime" />
</resultMap>
<select id="selectWhere"
	parameterType="String"
	resultMap="ResultMap">
    SELECT
    	id,
    	username,
    	f_name, 
    	l_name,
    	email,
    	password,
    	image_url,
    	email_valid_flag,
		regist_time,
		update_time
    FROM 
    	user_info
    WHERE
		${where}
</select>
</mapper>