<p>movie-info-create works!</p>
<div style="background: #ececec; padding: 30px">
  <form nz-form [formGroup]="movieForm" (ngSubmit)="submitForm()">
    <nz-card
      nzTitle="Movie Info Create"
      [nzActions]="[submitButton]"
      [nzBodyStyle]="{ display: 'none' }"
    >
      <nz-card-tab>
        <nz-tabset nzSize="large" [(nzSelectedIndex)]="tabSelectIndex">
          <nz-tab nzTitle="Information">
            <nz-form-item>
              <nz-form-label [nzSpan]="6" nzFor="movieName"
                >Movie Name</nz-form-label
              >
              <nz-form-control [nzSpan]="14">
                <input
                  nz-input
                  formControlName="movieName"
                  type="text"
                  id="movieName"
                />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="6" nzFor="movieSubName"
                >Movie Sub Name</nz-form-label
              >
              <nz-form-control [nzSpan]="14">
                <input
                  nz-input
                  formControlName="movieSubName"
                  type="text"
                  id="movieSubName"
                />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="6" nzFor="genreTypes"
                >Genre type</nz-form-label
              >
              <nz-form-control [nzSpan]="14">
                <nz-select
                  id="genreTypes"
                  [nzMode]="'multiple'"
                  [nzPlaceHolder]="'Choose Genre Type'"
                  formControlName="genreTypeIds"
                  [nzNotFoundContent]="'Genre Type not found'"
                >
                  <nz-option
                    *ngFor="let item of genreType$"
                    [nzLabel]="item.displayName"
                    [nzValue]="item.id"
                  >
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="6" nzFor="durationMin"
                >durationMin</nz-form-label
              >
              <nz-form-control [nzSpan]="14">
                <input
                  nz-input
                  formControlName="durationMin"
                  type="text"
                  id="durationMin"
                />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="6" nzFor="yearReleaseAt"
                >yearReleaseAt</nz-form-label
              >
              <nz-form-control [nzSpan]="14">
                <input
                  nz-input
                  formControlName="yearReleaseAt"
                  type="text"
                  id="yearReleaseAt"
                />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="6" nzFor="description"
                >description</nz-form-label
              >
              <nz-form-control [nzSpan]="14">
                <textarea
                  nz-input
                  formControlName="description"
                  id="description"
                  placeholder="Controlled autosize"
                  [nzAutosize]="{ minRows: 3, maxRows: 5 }"
                ></textarea>
              </nz-form-control>
            </nz-form-item>
          </nz-tab>
          <nz-tab nzTitle="Image">
            <nz-form-item>
              Thumnail:
              <nz-upload
                class="avatar-uploader"
                nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
                nzName="avatar"
                nzListType="picture-card"
                [nzShowUploadList]="false"
                [nzBeforeUpload]="beforeUploadThumnail"
              >
                <!-- (nzChange)="handleChange($event)" -->
                <ng-container *ngIf="!thumnailBase64">
                  <span
                    class="upload-icon"
                    nz-icon
                    [nzType]="loading ? 'loading' : 'plus'"
                  ></span>
                  <div class="ant-upload-text">Upload</div>
                </ng-container>
                <img
                  *ngIf="thumnailBase64"
                  [src]="thumnailBase64"
                  style="width: 100%"
                />
              </nz-upload>
            </nz-form-item>
            <nz-form-item>
              <nz-upload
                nzMultiple
                nzListType="picture"
                [(nzFileList)]="bannerBase64List"
                [nzBeforeUpload]="beforeUploadBanner"
              >
                Banners:
                <button type="button" nz-button>
                  <span>
                    <span nz-icon nzType="upload"></span>
                    Upload
                  </span>
                </button>
              </nz-upload>
            </nz-form-item></nz-tab
          >
          <nz-tab nzTitle="Trailer">
            <div nz-row>
              <nz-form-item>
                <nz-space nzDirection="vertical">
                  <nz-form-item>
                    <nz-form-control
                      [nzXs]="{ span: 24, offset: 0 }"
                      [nzSm]="{ span: 20, offset: 4 }"
                    >
                      <button
                        type="button"
                        nz-button
                        nzType="dashed"
                        class="add-button"
                        (click)="addTrailer()"
                      >
                        <span nz-icon nzType="plus"></span>
                        Add field
                      </button>
                    </nz-form-control>
                  </nz-form-item>
                  <ng-container
                    *ngFor="
                      let trailer of movieForm.controls.trailers.controls;
                      let i = index
                    "
                    [formGroup]="trailer"
                  >
                    <nz-card *nzSpaceItem [nzExtra]="input">
                      <nz-form-item>
                        <nz-form-label [nzSpan]="6" nzFor="trailerUrl_{{ i }}"
                          >trailerUrl</nz-form-label
                        >
                        <nz-form-control [nzSpan]="14">
                          <input
                            type="text"
                            nz-input
                            formControlName="trailerUrl"
                            id="trailerUrl_{{ i }}"
                          />
                        </nz-form-control>
                      </nz-form-item>
                      <nz-form-item *ngIf="getTrailerUrl(i) != ''">
                        <iframe
                          [src]="safeURL(i)"
                          width="560"
                          height="315"
                          frameborder="0"
                          allowfullscreen
                        ></iframe>
                      </nz-form-item>
                      <ng-template #input>
                        <nz-form-item>
                          <nz-form-label
                            [nzSpan]="6"
                            nzFor="trailerTitle_{{ i }}"
                            >trailerTitle :
                          </nz-form-label>
                          <nz-form-control [nzSpan]="14">
                            <input
                              type="text"
                              nz-input
                              formControlName="trailerTitle"
                              id="trailerTitle_{{ i }}"
                            />
                          </nz-form-control>
                        </nz-form-item>
                      </ng-template>
                    </nz-card>
                  </ng-container>
                </nz-space>
              </nz-form-item></div
          ></nz-tab>
          <nz-tab nzTitle="Caster & DirectorClassify"> </nz-tab>
        </nz-tabset>
      </nz-card-tab>
    </nz-card>
  </form>
</div>
<ng-template #submitButton
  ><nz-form-item>
    <nz-form-control
      [nzXs]="{ span: 24, offset: 0 }"
      [nzSm]="{ span: 20, offset: 4 }"
    >
      <button nz-button nzType="primary">Submit</button>
    </nz-form-control>
  </nz-form-item>
</ng-template>
