<form nz-form [formGroup]="chargeInfoForm" (ngSubmit)="submitForm()">
  <nz-card
    nzTitle="Charge Info Create"
    [nzActions]="[submitButton]"
    [nzBodyStyle]="{ margin: 0, padding: 0 }"
  >
    <div nz-row>
      <div nz-col nzSpan="12" nzOrder="1">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="planName"
            >Plan Name</nz-form-label
          >
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input formControlName="planName" id="planName" />
          </nz-form-control>
        </nz-form-item>
        <div nz-row [nzGutter]="24">
          <div nz-col [nzSpan]="12">
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="dayKbn"
                >dayKbn</nz-form-label
              >
              <nz-form-control [nzSm]="14" [nzXs]="24">
                <nz-select
                  id="dayKbn"
                  [nzPlaceHolder]="'Choose Day Kbn'"
                  formControlName="dayKbn"
                  [nzNotFoundContent]="'Day Kbn not found'"
                >
                  <nz-option
                    *ngFor="let item of planKbnList"
                    [nzLabel]="item.displayName"
                    [nzValue]="item.id"
                  >
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="12">
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="planKbn"
                >planKbn</nz-form-label
              >
              <nz-form-control [nzSm]="14" [nzXs]="24">
                <nz-select
                  id="planKbn"
                  [nzPlaceHolder]="'Choose Plan Kbn'"
                  formControlName="planKbn"
                  [nzNotFoundContent]="'Plan Kbn not found'"
                >
                  <nz-option
                    *ngFor="let item of dayKbnList"
                    [nzLabel]="item.displayName"
                    [nzValue]="item.id"
                  >
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </div>
      <div nz-col nzSpan="12" nzOrder="2">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="timeStart"
            >Time Start</nz-form-label
          >
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-date-picker
              [nzFormat]="dateFormat"
              id="timeStart"
              formControlName="timeStart"
              [nzDateRender]="tplRender"
            ></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="timeEnd"
            >Time End</nz-form-label
          >
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-date-picker
              [nzFormat]="dateFormat"
              formControlName="timeEnd"
              id="timeEnd"
              [nzDateRender]="tplRender"
            ></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <nz-table
        #groupingTable
        nzBordered
        nzSize="middle"
        [nzData]="['']"
        nzShowPagination="false"
      >
        <thead>
          <tr>
            <th colspan="2"></th>
            <th *ngFor="let movie of movieGradleList$">
              {{ movie.movieGradeName }}
            </th>
          </tr>
        </thead>
        <tbody formGroupName="chargeInfoSet">
          <ng-container
            *ngFor="let site of siteGradleList$; let siteIndex = index"
          >
            <ng-container
              *ngFor="let seat of seatGradleList$; let seatIndex = index"
            >
              <tr>
                <td
                  *ngIf="seatIndex == 0"
                  [attr.rowspan]="seatGradleList$.length"
                >
                  {{ site.siteGradeName }}
                </td>
                <td>
                  {{ seat.seatGradeName }}
                </td>
                <td
                  *ngFor="let movie of movieGradleList$; let movieIndex = index"
                >
                  <nz-input-number
                    [nzStep]="1000"
                    [nzMin]="0"
                    style="width: 100%"
                    nzSize="default"
                    nz-input
                    nz-tooltip
                    nzTooltipTrigger="focus"
                    nzTooltipPlacement="topLeft"
                    nzOverlayClassName="numeric-input"
                    placeholder="Input a number"
                    type="text"
                    [formControlName]="movie.id + '/' + seat.id + '/' + site.id"
                  />
                </td>
              </tr>
            </ng-container>
          </ng-container>
        </tbody>
      </nz-table>
    </div>
  </nz-card>
</form>
<ng-template #submitButton>
  <button nz-button nzType="primary" type="submit">Submit</button>
</ng-template>
<ng-template #tplRender let-current>
  <div class="ant-picker-cell-inner" [class.border]="current.getDate() === 1">
    {{ current.getDate() }}
  </div>
</ng-template>
